.category {

    &.safety-general {

        color: $orange;

        &:after {

            background: $orange;

        }

    }

    &.conservation,
    &.surf,
    &.strapless {

        color: $blue;

        &:after {

            background: $blue;

        }

    }

    &.freestyle {

        color: $orange;

        &:after {

            background: $orange;

        }

    }

    &.park {

        color: $red;

        &:after {

            background: $red;

        }

    }

    &.safety-airports {

        color: $green;

        &:after {

            background: $green;

        }

    }

    &.safety-general,
    &.surf,
    &.freestyle,
    &.park,
    &.safety-airports,
    &.conservation {

        &:after {

            bottom: 0;
            content: '';
            height: rem(5);
            position: absolute;
            right: 0;
            width: 100%;

        }

    }

}

// Live event in keyvisual
.live-event {

    &.strapless {

        border-left: 5px solid $blue;

    }

    &.safety-general {

        border-left: 5px solid $orange;

    }

    &.freestyle {

        border-left: 5px solid $orange;

    }

    &.park {

        border-left: 5px solid $red;

    }

    &.safety-airports {

        border-left: 5px solid $green;

    }

    &.conservation {

        border-left: 5px solid $blue;

    }

    &.freestyle-2019 {

        border-left: 5px solid $orange;

    }

    &.park-2019 {

        border-left: 5px solid $red;

    }

    &.safety-airports-2019 {

        border-left: 5px solid $green;

    }

}

// Tourleaders
.tourleaders {

    .item {

        &.strapless {

            &:before {

                background: $blue;

            }

        }

        &.safety-general {

            &:before {

                background: $orange;

            }

        }

        &.freestyle {

            &:before {

                background: $orange;

            }

        }

        &.park {

            &:before {

                background: $red;

            }

        }

        &.safety-airports {

            &:before {

                background: $green;

            }

        }

        &:before {

            content: '';
            height: rem(5);
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

        }

    }

}