#catapult-cookie-bar {

    background-color: $white !important;
    border-top: 1px solid $light-grey;
    color: $black !important;
    font-size: rem(14) !important;
    padding: rem(32 40) !important;
	z-index:0 !important;

    a {

        color: $blue !important;

    }

    .ctcc-inner {

        justify-content: space-between !important;

    }

    #catapultCookie {

        padding: rem(6 32 6 9) !important;

        &:after {

            @extend %icons;

            content: map_get($icons, 'close');
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

        }

    }

}