.header {

    @extend %catamaran-medium;

    background: $white;
    border-bottom: 1px solid $light-grey;
    height: rem(75);
    position: fixed;
    width: 100%;
    z-index: 20;

    .logo {

        padding: rem(12 0 12 20);

        @include breakpoint(medium) {

            padding: rem(12 0 12 40);

        }

    }

    .main-menu {

        display: none;

        @include breakpoint(xlarge) {

            display: block;
        }

        .home-icon {

            @include transition();

            display: none;
            float: left;
            padding: rem(24 0);

            @include breakpoint(xxlarge) {

                display: block;

            }

            &:before {

                @extend %icons;

                content: map_get($icons, 'home');

            }

            &:hover {

                color: $blue;

            }

        }

        ul {

            @include reset-ul();

            float: left;
            padding: rem(24 0);

            .menu-item {

                float: left;
                margin-left: rem(32);

                a {

                    @include transition();

                    color: $black;
                    text-transform: uppercase;

                }

                .sub-menu {

                    display: none;

                }

                &.active,
                &:hover {

                    a {

                        color: $blue;

                    }

                }

                @include breakpoint(xlarge down) {

                    &:first-child {

                        margin-left: 0;

                    }

                }

            }

        }

    }

    .mobile-menu {

        display: block;

        @include breakpoint(xlarge) {

            display: none;

        }

    }

    .nav-right {

        align-items: baseline;
        display: flex;
        justify-content: flex-end;

    }

    .social-media {

        @extend %icons;

        display: none;
        margin-right: rem(24);

        @include breakpoint(xlarge) {

            display: block;

        }

        a {

            @include transition();

            font-size: rem(16);
            margin-left: rem(4);

            &:hover {

                color: $blue;

            }

        }

        .youtube {

            font-size: rem(14);

            &:after {

                content: map_get($icons, 'youtube');

            }

        }

        .instagram {

            font-size: rem(15);

            &:after {

                content: map_get($icons, 'instagram');

            }

        }

        .facebook {

            &:after {

                content: map_get($icons, 'facebook');

            }

        }

    }

    .mobile-menu {

        margin-right: rem(24);
        padding: rem(24 0);

        &:after {

            @extend %icons;
            @include transition();

            content: map_get($icons, 'menu');
            color: $black;

        }

        &:hover {

            &:after {

                color: $blue;

            }

        }

    }

}