.post-type-archive-wingfoil-schools {

	.map-container {

		.novo-map_infobox_style_default { 
	
			padding:20px;

			img {

				width: auto !important; 

			}
			
		}
		
	}

	.main-container {
		
		.events {
			
			padding-top:3rem !important;
			
		}
	}
	
}