#split-page-layover { 

    display:none; 
	background: $white;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
	top:0;
	
	img {
		width:auto;
	}
	
    .logo {

        /* @include animate('800ms forwards 600ms appear'); */ 

        left: 50%;
        opacity: 1;
        position: absolute;
        top: rem(24);
        transform: translateX(-50%);
        z-index: 1;

        @include breakpoint(medium) {

            left: rem(48);
            top: rem(40);
            transform: none;

        }

        @include breakpoint(large) {

            opacity: 1;

        }

    }

    .slide-first {

        /* @include animate(); */

        /* left: 0; */
        position: relative;
		width:100%;

        @include breakpoint(large) {

            /* left: 0; */
			width:50%;
			float:left;

        }

    }

    .slide-second {

        /* @include animate('800ms forwards 600ms slide-from-right'); */

        position: relative;
        /* right: 0; */
		width:100%;

        @include breakpoint(large) {

            /* right: 0; */
			width:50%;
			float:left;

        }

    }
	
	.subtitle {
		color: $white;
	}

    .association,
    .worldtour {

        background: 50% 50% no-repeat;
        background-size: cover;
        cursor: pointer;
        height: 50vh;
        position: relative;

        @include breakpoint(large) {

            height: 100vh;

        }

        &:hover {

            .button {

                background: $blue;
                color: $white;

            }

        }

        background-blend-mode: multiply;

    }

    .content {

        /* @include animate('800ms forwards 600ms appear'); */

        bottom: 0;
        left: 0;
        opacity: 1;
        padding: rem(32 24);
        position: absolute;
        text-align: center;
        width: 100%;

        @include breakpoint(medium) {

            padding: rem(80);

        }

        @include breakpoint(large) {

            opacity: 1;

        }

        h2 {

            @extend %catamaran-extrabold;

            color: $white;
            font-size: rem(40);
            line-height: rem(48);
            text-transform: uppercase;

            @include breakpoint(medium) {

                font-size: rem(48);
                line-height: rem(78);

            }

        }

        .button {

            @extend %catamaran-medium;
            @include transition();

            background: $white;
            border-radius: rem(30);
			border-color: $white;
            display: inline-block;
            margin-top: rem(24);
            padding: rem(10 56 12 24);
            position: relative;
            text-transform: uppercase;
			line-height: auto;
			border: inherit;
			font-size: inherit;

            @include breakpoint(medium) {

                padding: rem(16 72 18 32);

            }

            &:after {

                @extend %icons;

                content: map_get($icons, 'arrow-right');
                font-size: rem(11);
                position: absolute;
                right: rem(24);
                top: 50%;
                transform: translateY(-50%);

                @include breakpoint(medium) {

                    right: rem(32);

                }

            }

        }

    }

}