<div class="not-found">
	<section class="row">
    	<div class="column small-12 medium-6 medium-offset-3"><p></p></div>
        <div class="column small-12 medium-6 medium-offset-3"><p></p></div>
		<div class="column small-12 medium-6 medium-offset-3"><h1>Oops!</h1></div>
        <div class="column small-12 medium-6 medium-offset-3"><h2>We can't seem to find the page you're looking for.</h2></div>
        <div class="column small-12 medium-6 medium-offset-3"><h4>Error code: 404</h4></div>
		<div class="column small-12 medium-6 medium-offset-3">
        	<p>Here are some helpfull links instead:</p>
            <ul>
            	<li><a href="/">Home</a></li>
                <li><a href="/about-kite-sports/">About Kite Sports</a></li>
                <li><a href="/beach-access-environment/">Beach Access</a></li>
                <li><a href="/members/">Members</a></li>
                <li><a href="/gka-team/">Team</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="https://www.gkakiteworldtour.com/">World Tour Website →</a></li>
            </ul>
        </div>
	</section>
</div>
