</div> {# container #}
</div> {# main-container #}

<footer class="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget widget_text">
                        <h2 class="widget-title">Contact Information</h2>
                        <div class="textwidget">
                            <p style="color:#fff">Global Wingsports Association<br>
                                Gärtnerstrasse 89<br>
                                20253 Hamburg<br>
                                Germany</p>
                            <p style="color:#fff">Tel.: +49 (0)172 29 22 807<br>
                                Email: <a href="mailto:info@globalwingsportsassociation.org">info@globalwingsportsassociation.org</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="widget widget_text">
                        <h2 class="widget-title text-center">Subscribe to our mailing list</h2>
                        <p>Sign up to be the first to know! You’ll receive an average of two newsletters a month packed with the latest info from the Global Wingsports Association, your favourite pro riders, and news from the world of wingsports!</p>
                        
						{{ function('do_shortcode', '[mc4wp_form id="8484"]') }}
						
						
                	</div>
                </div>
                <div class="col-sm-3">
                    <div class="widget widget_text">
                        <h2 class="widget-title">Social Media</h2>
                        <div class="textwidget">
                            <div class="footer-social">
                                <a href="https://www.facebook.com/wingfoilworldtour/" target="_blank" style="color:#fff"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/wingfoilworldtour/" target="_blank" style="color:#fff"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCVohD0LZud-jBt5vI1K1m1w" target="_blank" style="color:#fff"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_text">
                        <h2 class="widget-title">Data Protection</h2>    
                        <div class="textwidget">
                            <ul class="list-inline">
                                {% set count = 0 %}
                                {% for item in gka_footer_nav.get_items %}
                                <li class="footer-nav-item {{item.classes | join(' ')}}" style="padding-left:0;">
                                    <a class="footer-link" style="color:#fff;" href="{{item.get_link}}">{{item.title}}</a>
                                </li>
                                {% set count = count + 1 %}
                                {% endfor %}
                            </ul>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>

<script src="{{ theme.link }}/src/js/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script type="text/javascript" src="{{ theme.link }}/src/js/main.js"></script>
<script type="text/javascript" src="{{ theme.link }}/src/js/scripts.min.js"></script>

</body>