<!DOCTYPE html>

<!--[if lt IE 7]>
<html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html {{site.language_attributes}} class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html {{site.language_attributes}} class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html {{ site.language_attributes }} class="no-js"><!--<![endif]-->

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175038532-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-175038532-1');
	</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>

        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}

    </title>

	{# What is this? #}

    <script type="text/javascript">
        var domain = '{{ domain }}';
        var ajaxurl = '{{ ajax_url }}';
        var templateurl = '{{ theme.link }}';
    </script>

    {# mobile meta #}

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--[if IE]>
    <link rel="shortcut icon" href="{{ theme.link }}/favicon.ico">
    <![endif]-->

    <meta name="msapplication-TileColor" content="#f01d4f">
    <meta name="msapplication-TileImage" content="{{ theme.link }}/library/images/win8-tile-icon.png">

    <link rel="pingback" href="{{ function('bloginfo','pingback_url') }}">

	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/b2422954e8ae0348331a37618/d025de9857831843248cb1d28.js");</script>

    {{ function('wp_head') }}

</head>
