{# Uses the standard Bootstrap navigation system #} 

<body class="{{ body_class }}"> 

<div style="display:none;">Template: {{ _self.getTemplateName() }}</div>
    
    <nav id="my-menu">
        {# First level
        #}
        {# First level
        #}
        <ul class="mm-site-navigation">
            {% for item in wingfoil_race_class_menu.get_items %}
            <li>
                <a href="{{ item.get_link }}">
                        {{ item.title }} 
                    </a>
                {# Second level
                #}
                {% if item.get_children %}
                <ul>
                    {% for child in item.get_children %}
                    <li>
                        <a href="{{ child.get_link }}">{{ child.title }}</a>
                        {# Third level
                        #}
                        {% if child.get_children %}
                        <ul>
                            {% for subchild in child.get_children %}
                            <li>
                                <a href="{{ subchild.get_link }}">{{ subchild.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div id="my-wrapper">
        <div class="test-my-wrapper">
            <!-- Google analytics should be added here -->
            {% set bgd_img = hero_image.url %}
            {% if post.hero_image or is_front_page or bgd_img %}
            <header class="header header-fullwidth">
                {% else %}
                <header class="header header-fullwidth {# contrast #}">
                    {% endif %}
                    <div class="popup-search">
                        <div class="container">
                            <div class="popup-search-form">
                                <form>
                                    <input class="input-search" type="text" placeholder="ENTER YOUR KEYWORDS...">
                                </form>
                                <span title="Close" class="close-popup"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="header-container">
                        <div class="logo small-6 medium-2">
                            <a href="{{ site.url }}/">
                    {% if post.hero_image or is_front_page or bgd_img %}
                        <img src="{{ theme.link }}/build/images/logo.png" alt="GWA Logo"></a>
                            {% else %}
                            <img src="{{ theme.link }}/build/images/logo.png" alt="">
                            {# <img class="contrast" src="{{ theme.link }}/build/images/logo-contrast.png" alt=""></a> #}
                            {% endif %}
                        </div>
                        <div class="bz-main-mennu small-6 medium-10">
                            <nav class="main-menu">

                                {# Home icon #}
                                <a href="{{ site.url }}" class="home-icon"></a>
                    
                                <ul>
                                    {% for item in wingfoil_race_class_menu.get_items %}
                                    {% set classes = item.classes|join(' ') %}
                                    {% if item.get_children %} {% set classes = classes ~ ' dropdown' %} {% endif %}
                                    {% if 'current-menu-item' in item.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                    {% if 'current-menu-parent' in item.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                    {% if 'current-menu-ancestor' in item.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                    <li class="{{ classes }}" style="height:100%;">
                                        <div class="menu-primary-menu-outer">
                                            <div class="menu-primary-menu-inner">
                                                <a {{ item.get_children ? 'class="dropdown-toggle" data-toggle="dropdown"' }} href="{{ item.get_link }}">
                                        {{ item.title }}
                                    </a>
                                            </div>
                                        </div>
                                        {% if item.get_children %}
                                        <ul class="sub-menu">
                                            {% for child in item.get_children %}
                                            {% set classes = child.classes|join(' ') %}
                                            {% if child.get_children %} {% set classes = classes ~ ' dropdown' %} {% endif %}
                                            {% if 'current-menu-item' in child.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                            {% if 'current-menu-parent' in child.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                            {% if 'current-menu-ancestor' in child.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                            <li class="{{ classes }}" style="height:100%;">
                                                {# <a href="{{ child.get_link }}">{{ child.title }}</a> #}
                                                <div class="menu-primary-menu-outer">
                                                    <div class="menu-primary-menu-inner">
                                                        <a {{ child.get_children ? 'class="dropdown-toggle" data-toggle="dropdown"' }} href="{{ item.get_link }}">
                                                        <a href="{{ child.get_link }}">{{ child.title }}</a>
                                                        </a>
                                                    </div>
                                                </div>
                                                {% if child.get_children %}
                                                <ul class="sub-menu">
                                                    {% for grandchild in child.get_children %}
                                                    {% set classes = grandchild.classes|join(' ') %}
                                                    {% if 'current-menu-item' in grandchild.classes %} {% set classes = classes ~ ' active' %} {% endif %}
                                                    <li>
                                                        <a href="{{ grandchild.get_link }}">{{ grandchild.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                            <a href="#my-menu" class="mobile-menu"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </header>