<div class="event-item">
    <div class="row">
        <div class="column small-1">
            <div class="category-wrapper">
                <div class=""><img src="{{ post.thumbnail.src }}" style="max-height:75px !important;width:auto !important;"/></div>
            </div>
        </div>
        <div class="column small-11 medium-4">

            <h2>{{ post.post_title|capitalize }}</h2>

            {% if post_excerpt %}

                <div class="date">{{ post_excerpt }}</div>

            {% endif %}

        </div>
        <div class="column small-11 small-offset-1 medium-2 medium-offset-0">

            {% if post.meta('country') %}

                <div class="status"><p>{{ post.meta('country')|capitalize }}</p></div>

            {% endif %}

        </div>
        <div class="column small-11 small-offset-1 medium-2 medium-offset-0">

            {% if post.meta('spot') %}

                <div class="status"><p>{{ post.meta('spot')|capitalize|replace({'-': ' '}) }}</p></div>

            {% endif %}

        </div>
        <div class="column small-11 small-offset-1 medium-2 medium-offset-0">

            {% if post.meta('contact') %}

                <div class="status"><p><a href="mailto:{{ post.meta('contact')|capitalize|replace({'-': ' '}) }}">{{ post.meta('contact')|capitalize|replace({'-': ' '}) }}</a></p></div>

            {% endif %}

        </div>

        <div class="column small-11 small-offset-1">
            <div class="icon-list">

                {% if post.meta('rental') != '' %}

                    <div class="stars item">
                        <p class="title">Rental</p>
                        {{ post.meta('rental')|capitalize }}
                    </div>

                {% endif %}

                {% if post.date('Y') != '' %}

                    <div class="item">
                        <p class="title">GWA Approved since</p>
                        {{ post.date('Y') }} 
                    </div>

                {% endif %}

                <div class="external-link"><i class="fa fa-external-link"></i></div>

            </div>
        </div>
    </div>
    <a class="link-overlay" href="{{ post.website }}" target="_blank"></a>
</div>
