@-webkit-keyframes slide-from-left {
  100% {
    left: 0; } }

@keyframes slide-from-left {
  100% {
    left: 0; } }

@-webkit-keyframes slide-from-right {
  100% {
    right: 0; } }

@keyframes slide-from-right {
  100% {
    right: 0; } }

@-webkit-keyframes appear {
  100% {
    opacity: 1; } }

@keyframes appear {
  100% {
    opacity: 1; } }
