//  -----------------------------------------
//  Custom Fonts
//  -----------------------------------------

@font-face {

    font-family: 'CatamaranRegular';
    src: url('./../fonts/catamaran-regular-webfont.eot');
    src: url('./../fonts/catamaran-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/catamaran-regular-webfont.woff') format('woff'),
    url('./../fonts/catamaran-regular-webfont.woff2') format('woff2'),
    url('./../fonts/catamaran-regular-webfont.ttf') format('truetype'),
    url('./../fonts/catamaran-regular-webfont.svg#CatamaranRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'CatamaranMedium';
    src: url('./../fonts/catamaran-medium-webfont.eot');
    src: url('./../fonts/catamaran-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/catamaran-medium-webfont.woff') format('woff'),
    url('./../fonts/catamaran-medium-webfont.woff2') format('woff2'),
    url('./../fonts/catamaran-medium-webfont.ttf') format('truetype'),
    url('./../fonts/catamaran-medium-webfont.svg#CatamaranMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'CatamaranExtraBold';
    src: url('./../fonts/catamaran-extrabold-webfont.eot');
    src: url('./../fonts/catamaran-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/catamaran-extrabold-webfont.woff') format('woff'),
    url('./../fonts/catamaran-extrabold-webfont.woff2') format('woff2'),
    url('./../fonts/catamaran-extrabold-webfont.ttf') format('truetype'),
    url('./../fonts/catamaran-extrabold-webfont.svg#CatamaranExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'OpenSansRegular';
    src: url('./../fonts/opensans-regular-webfont.eot');
    src: url('./../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/opensans-regular-webfont.woff') format('woff'),
    url('./../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('./../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('./../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'OpenSansItalic';
    src: url('./../fonts/opensans-italic-webfont.eot');
    src: url('./../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/opensans-italic-webfont.woff') format('woff'),
    url('./../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('./../fonts/opensans-italic-webfont.ttf') format('truetype'),
    url('./../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {

    font-family: 'OpenSansBold';
    src: url('./../fonts/catamaran-bold-webfont.eot');
    src: url('./../fonts/catamaran-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('./../fonts/catamaran-bold-webfont.woff') format('woff'),
    url('./../fonts/catamaran-bold-webfont.woff2') format('woff2'),
    url('./../fonts/catamaran-bold-webfont.ttf') format('truetype'),
    url('./../fonts/catamaran-bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

//  -----------------------------------------
//  Icomoon
//  -----------------------------------------

@font-face {
    font-family: 'icomoon';
    src: url('./../fonts/icomoon.eot?orptrg');
    src: url('./../fonts/icomoon.eot?orptrg#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?orptrg') format('truetype'),
    url('./../fonts/icomoon.woff?orptrg') format('woff'),
    url('./../fonts/icomoon.svg?orptrg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}

%catamaran-regular {

    font-family: 'CatamaranRegular';

}

%catamaran-medium {

    font-family: 'CatamaranMedium';

}

%catamaran-extrabold {

    font-family: 'CatamaranExtraBold';

}

%opensans-regular {

    font-family: 'OpenSansRegular';

}

%opensans-italic {

    font-family: 'OpenSansItalic';

}

%opensans-bold {

    font-family: 'OpenSansBold';

}

%icons {

    font-family: 'icomoon';

}

html,
body {

    @extend %opensans-regular;

}

a {

    color: $black;

}

p,
.wpb_wrapper ul li,
.wpb_wrapper ol li {

    font-size: rem(14);
    line-height: rem(20);

}

.intro,
.intro p {

    font-size: rem(16);
    line-height: rem(20);

}

h1 {

    @extend %catamaran-extrabold;

    font-size: rem(36);
    line-height: rem(32);
    margin-bottom: rem(24);
    text-transform: uppercase;

    @include breakpoint(medium) {

        font-size: rem(48);
        line-height: rem(40);
        margin-bottom: rem(40);

    }

    @include breakpoint(large) {

        font-size: rem(58);
        line-height: rem(49);

    }

}

h2 {

    @extend %catamaran-extrabold;

    font-size: rem(28);
    line-height: rem(40);

}

h3 {

    @extend %catamaran-extrabold;

    font-size: rem(18);
    line-height: rem(24);

}

.category {

    @extend %catamaran-extrabold;

    text-transform: uppercase;

}

.link {

    @extend %opensans-italic;

    &.with-icon {

        span {

            @include transition();

            font-size: rem(14);
            line-height: rem(20);
            text-decoration: underline;

        }

        &:after {

            @extend %icons;
            @include transition();

            content: map_get($icons, 'arrow-right');
            font-size: rem(10);
            margin-left: rem(4);

        }

    }

    &.big {

        span {

            font-size: rem(18);
            line-height: rem(24);

        }

    }

    &:hover {

        span {

            color: $blue;

        }

    }

}