.header {

    @extend %catamaran-medium;

    position: fixed;
    width: 100%;
	height: 90px;
    z-index: 20;

    .logo {
	
        display:table;
		text-align:left;
		padding:0;
		float:left;
		
		img {

			@include breakpoint(smedium) {			
		
				width: auto;
				height: 100px;
				margin: 10px;
				
			}
		
			width: auto;
			height: 70px;
    		margin: 10px;
		
		}
		
    }

	.bz-main-mennu {
	
		margin-top: 20px !important;
		display:table;
		float:right;
		
	}

    .main-menu {

        display: none;

        @include breakpoint(xlarge) {

            display: block;
        }

        .home-icon {

            @include transition();

            display: none;
            float: left;
            padding: 13px 20px 10px 20px;
			color:$white;

            @include breakpoint(xxlarge) {

                display: block;

            }

            &:before {

                @extend %icons;

                content: map_get($icons, 'home');

            }

            &:hover {

                color: $blue;

            }

        }

        ul {

            @include reset-ul();

            float: left;

            .menu-item {

                //float: left;
				padding: 10px 20px 10px 30px;

                a {

                    @include transition();

                    color: $white;
                    text-transform: uppercase;

                }

                .sub-menu {

                    //display: none;

                }

                &.active,
                &:hover {

                    a {

                        color: $blue;

                    }

                }

                @include breakpoint(xlarge down) {

                    &:first-child {

                        margin-left: 0;

                    }

                }

            }

        }

    }

    .mobile-menu {

        display: block;

        @include breakpoint(xlarge) {

            display: none;

        }

    }

    .mobile-menu {

        padding: 13px 20px 10px 20px;
		color:$white;
		float:right !important;

        &:after {

            @extend %icons;
            @include transition();

            color: $black;

        }

        &:hover {

            &:after {

                color: $blue;

            }

        }

    }

}
	
.banner-header, .metaslider {

	margin-top:90px;

	@include breakpoint(medium) {

		margin-top:0;
		
	}		

}