@mixin reset-ul() {

    margin: 0;
    padding: 0;
    list-style: none;

}

@mixin transition($content: '300ms all ease') {

    transition: #{$content};

}

@mixin animate($content: '800ms forwards 200ms slide-from-left') {

    animation: #{$content};

}

@mixin blink() {

    animation: blink 1500ms cubic-bezier(.5, 0, 1, 1) infinite alternate;

}

@function rem($px) {

    @return rem-calc($px);

}

@keyframes slide-from-left {
    100% {
        left: 0;
    }
}

@keyframes slide-from-right {
    100% {
        right: 0;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}