//  Colors
$white:         #FFFFFF;
$black:         #000000;
$beige:         #F2EFEB;
$blue:          #00A4CA;
$turquoise:     #5BABBD;
$red:           #CE0019;
$orange:        #ed6923; // Was #E5702A
$yellow:        #F5BC40;
$green:         #2AAB72;

$dark-grey:     #686A6A;
$grey:          #787D7A;
$light-grey:    #D8D8D8;
$lighter-grey:  #EEEEEE;

//  Breakpoints
$breakpoints: (
    small: 0,
    smedium: 480px,
    medium: 768px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px
);

$breakpoint-classes: (small smedium medium large xlarge xxlarge);

//  The Grid
$global-width: 100%;

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 20px,
    medium: 40px,
);

//  Icomoon Icons
$icons: (
    arrow-left : '\e900',
    arrow-right : '\e901',
    chevron-down : '\e90a',
    close : '\e902',
    email : '\e90b',
    facebook : '\e903',
    female : '\e908',
    gallery : '\e90d',
    male : '\e909',
    menu : '\e907',
    home : '\e904',
    instagram : '\e905',
    play : '\e90e',
    search : '\e90c',
    youtube : '\e906'
);