//  -----------------------------------------
//  Imports 
//  -----------------------------------------

@import "mixins";
@import "settings";
@import "base/foundation";
@import "base/typography";

@import "components/events";

@import "layout/header";
@import "layout/footer";

@import "parts/split-page";
@import "parts/cookie-bar";
@import "parts/categories";
@import "parts/map"; 
 
// MC4WP 
.mc4wp-form-fields input[type=submit] {
	padding: 10px 20px;
    background-color: #ed6923;
    border-radius: 8px;
    color: #FFF;
    float: left;
    border: 0;
}

.mc4wp-response {
	clear: both;
    margin-top: 15px;
    float: left;
}

// Frontpage slider
.main-container {
	padding: 40px !important;
}
.metaslider {
	overflow:visible;
	margin-bottom: -100px;
	
	@include breakpoint(large) {
		
		margin-bottom: 0;
		
	}
		
}
.caption-wrap {
	
	opacity: 1 !important;
	top: -40px !important;
	position:relative !important;
	
	@include breakpoint(large) {
	
		position:absolute !important;
		top: 30% !important;
		
	}
	
	.caption {
		
		background: #F2EFEB;
		margin: 0 40px;
		float: right;
		padding: 40px 40px 20px 40px !important;
		border-top: 5px solid #000000;
			
		.slider-button {
			
			margin:20px auto !important;
			
		}
			
		
		@include breakpoint(large) {
		
			background: #F2EFEB;
			margin-right: 40px;
			width: 500px;
			padding: 40px 40px 20px 40px !important;
			border-top: 5px solid #000000;
			min-height: 300px;
			
			.slider-button {
				
				margin:40px auto !important;
				
			}
			
		}

	}
	
}

input {
	color:#000;
}

.metaslider {
	.flexslider {
		.slides {
			img {
				max-width:100% !important;
			}
		}
	}
}

.mm-panel__blocker {
	display:none !important;
} 

.blog-item .blog-title>a, .text-color-primary, a {
	color: $orange;
}

.theme-footer-captcha-input img {
	width: auto !important;
}

/*.page:not(.flexslider .page) {
	img {
		width:auto !important;
	}
}*/

@media screen and (max-width:767px){
	.header-fullwidth {
		padding:0 20px !important;
	} 
	.mobile-navigation {
		margin: 35px 0 !important;
	}
}

.row-margin-bottom {
	margin-bottom:20px;
}

.button-full-width {
	padding:10px 20px;
	width:100%;
	background-color:$orange;
	border-radius: 8px;
}

.button-2 {
	width:max-content;
	padding:10px 20px;
	background-color:$orange;
	border-radius: 8px;
	margin-top:20px;
	
	@include breakpoint (smedium){
		margin-top:0;
	}
	
}

.button-full-width a,
.button-full-width a:hover,
.button-2 a,
.button-2 a:hover {
	color:$white;
}

.div-top-margin {
	margin-top:30px;
}

.metaslider {
	
	overflow:hidden;
	
	.caption-wrap {
		
		background: none !important;
		top: 10%;
		bottom: none !important;
		text-align:center;
		font-size: 20px;
		
		div {
			
			color: #000;
			font-weight: 700;
			margin-bottom: 13px;
			text-transform: uppercase;
			line-height: 1rem;
			font-family: 'CatamaranExtraBold';
			
		}
		
		.slider-button {
			
			background:#fff;    
			width: fit-content;
			margin: 0 auto;
			padding: 10px 15px;
			font-size: 14px;
			
			
		}
		
		@include breakpoint(medium) {
			
			top: 40%;
			font-size: 48px;
			
			div {
				
				line-height: 2.5rem;
				
			}
		
			.slider-button {

				margin: 40px auto;
				padding: 10px 30px;
				font-size: 20px;				


			}
			
		}
		
	}
}

iframe {
	
	width:auto !important;
	height:auto !important;
	
	@include breakpoint(medium) {

		width:500px !important;
		height:281px !important;
		
	}			
	
}

@media (min-width: 0px){
	.header {
		padding: 0 20px !important;
	}
	.header .main-menu ul .menu-item {
		padding: 10px 15px;
	}
	.mm-page{
		position:relative;
	}
	#my-menu {
		z-index:9999;
	}
}

@media (min-width: 1440px){
	.header {
		padding: 0 30px 0 50px !important;
	}
	.header .main-menu ul .menu-item {
		padding: 10px 20px 10px 30px;
	}
}
