{# Hompage 
#}

<div class="banner-header banner-blog">
    <div class="container">
        <div class="banner-content">
            <h2 class="page-title">GKA Home</h2>
            <span class="page-desc">Tell your story</span>
            <div class="breadcrumbs">
                <a href="#">Home</a>
                <span>Blog style5</span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="container">
<h1>League</h1>
			 <table border="1">
			 	

			 	{#  Headings
			 	#}
			 	<tr>
					<th style="padding:5px;"> Contestant</th>
					{# {% for i in races|keys %} #}
					{% for i in races %}
					{# {% for i in a %} #}
						<th style="padding:5px;">
							{{i}} (position)							
						</th>
					{% endfor %}
					<th style="padding:5px;"> Total points</th>
			 	</tr>


				{#  Rows
				#}
				{% for x in newlist %}
				<tr>
					<td style="padding:5px;">
						<a href="{{ TimberPost(x.contestant_id).link }}">{{x.contestant_name}}</a>
					</td>
					{% for i in x.races %}
						<td style="padding:5px;">
							{% if i.points == '-'  %}
								-
							{% else %}
								{{i.points}} ({{i.position}})
							{% endif %}
						</td>
					{% endfor %}
					<td style="padding:5px;">

						{{x.total_points}}
					</td>
				</tr>
				{% endfor %}

			</table>




