		{# TWIG BASE #}
		
		{% block header %} 
			{% include 'common/main-head.twig' %}
			{% include 'common/main-header-wingfoil-race-class.twig' %} 
		{% endblock %}

		{% block content %}
			Sorry, no content
			{{ post.title }}
		{% endblock %}

		{% block footer %}
			{% include 'common/main-footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
