{# Front Page #}

{% extends "base.twig" %}

{% block content %}

{{options.homepage_slider_shortcode|shortcodes}}
	
<div id="split-page-layover">
    <div class="">

        <img class="logo" src="{{ theme.link }}/src/img/gka-logo-white.svg" alt="GKA - Global Kite Association logo"/>

        <div class="slide-first">
            <div class="association" id="association" style="background-image: url('{{ site.url }}/wp-content/themes/gka/src/img/split-page-left.jpg'), linear-gradient(-45deg, #0DB1AA 10%, #567AB0 95%)">

                <div class="content">
                    <h2>Association</h2>
                    <div class="subtitle">About Kite Sports | Beach Access | Members | Story</div>
                    <div class="button">Enter Website</div>
                </div>
 
            </div>
        </div>

        <div class="slide-second">
            <div class="worldtour" id="worldtour" style="background-image: url('{{ site.url }}/wp-content/themes/gka/src/img/split-page-right.jpg'), linear-gradient(-138deg, #0DB1AA 9%, #567AB0 99%);">

                <div class="content">
                    <h2>World Tour</h2>
                    <div class="subtitle">Events | Rankings | Athletes | Photos | Videos</div>
                    <div class="button">Enter Website</div>
                </div>

            </div>
        </div>
    </div>

    <div class="overlay-left"></div>
    <div class="overlay-right"></div>

</div>

<div class="main-container">    

    <div class="container">
        <div class="row">        		
            <div class="column small-12 medium-6 main-content">
                <div class="blog-single">
                    <article class="blog-item style6">
                        {{post.content}}
                    </article>
                </div>
            </div>
            <div class="column small-12 medium-6 main-content">
                <div class="blog-single">
                    <article class="blog-item style6">
                        <figure><img alt="{{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                    </article>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        
        <div class="row">
            <div class="section-title text-center column small-12 medium-12">
				<p>&nbsp;</p>
                <h3 class="title">WINGFOILING</h3>
            </div>
        </div>
        
        <div class="row">        		
            <div class="column small-12 medium-6 large-6">
				<h3>About Wingsports</h3>
                <p>Wingsports (also called Wingfoiling or Wingboarding) is an exciting, new and fast growing sport. It’s a hybrid of many existing water- and landsports, and due to this fact appeals to a wide range of people. It might look quite unusual at first but the fluidity and grace of an experienced wingsporter is breathtaking to see....</p>

                <a href="https://www.globalwingsportsassociation.org/about-wingsports/">Read more &rarr;</a>

				<p>&nbsp;</p>
            </div>
            <div class="column small-12 medium-6 large-6">
				<h3>Start Wingfoiling</h3>
                <p>Due to its water and weather dependent elements, it is highly recommended to learn with qualified instructors and in a safe environment. The GWA will soon be able to provide an up-to date list of recognised instructors and schools globally to ensure the highest standards of safety when learning this new and exciting sport....</p>

                <a href="https://www.globalwingsportsassociation.org/start-wing-foiling/">Read more &rarr;</a>

				<p>&nbsp;</p>
            </div>
        </div>
        
        <div class="row">
            <div class="section-title text-center column small-12 medium-12">
				<p>&nbsp;</p>
                <h3 class="title">WINGFOIL DISCIPLINES</h3>
            </div>
        </div>
        
        <div class="row">             
        {% for post in worldtours %}
                    
            <article class="blog-item style5 _blog-item-masonry column small-6 medium-3 text-center" style="">
                <div class="post-format">
                    <figure><img alt="{{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                    <a href="{{post.link}}" class="hover-format">
                        <span><i class="fa fa-search"></i></span>
                    </a>
                </div>
                <h4 class="blog-title"><a href="https://www.globalwingsportsassociation.org/wingfoil-disciplines/">{{post.title}}</a></h4>

                {#<div class="content-post">
                    <p>{{post.post_excerpt}}</p>
                </div> #}

                <a class="button readmore-button" href="https://www.globalwingsportsassociation.org/wingfoil-disciplines/">READ MORE</a> {# {{post.link}} #}
            </article>
        {% endfor %}
        </div>
        
        <div class="row">
            <div class="section-title text-center column small-12 medium-12">
				<p>&nbsp;</p>
                <h3 class="title">WINGFOIL WORLD TOUR</h3>
            </div>
        </div>
        
        <div class="row">        		
            <div class="column small-12 medium-6 large-9">
                Stay up to date and follow all the Wingfoil World Tour action, videos, reports and photos for all disciplines. 
				<br>
				<br>
				<a href="https://www.wingfoilworldtour.com/events/">Click here for all Wingfoil events →</a>
            </div>
            <div class="column small-12 medium-6 large-3">
                <div class="button-2">
                    <a href="https://www.wingfoilworldtour.com/">Go to GWA Wingfoil World Tour &rarr;</a>
                </div>
                <div class="div-top-margin">
                	<ul>
                    	<li>Event Calendar</li>
                        <li>Live Stream & Scoring</li>
                        <li>Rankings</li>
                        <li>Athlete profiles</li>
                        <li>And more!</li>
                    </ul>
                </div>
            </div>
        </div>
        
        {#
		<div class="row">
            <div class="section-title text-center column small-12 medium-12">
				<p>&nbsp;</p>
                <h3 class="title">GWA MEMBERS</h3>
            </div>
        </div>
        
        <div class="row">             
        {% for post in directorypost %}
                    
            <article class="blog-item style5 _blog-item-masonry column small-6 medium-3 text-center" style="">
                <div class="post-format">
	                <a href="{{post.company_homepage_link}}" target="_blank">
                    	<figure><img alt="{{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
					</a>
                </div>
            </article>
        {% endfor %}
        </div>
		#}
        
    </div>      


{% endblock %}

