{# Front Page #}

{% extends 'base.twig' %}

{% block content %}

<div class="main-container">

    {# Key Visual #}
    {% include 'components/keyvisual.twig' %}

    {# News #}
    {% include 'components/news-slider.twig' %}

    {# Advert #}
    {% include 'components/advertisement.twig' %}

    {# Discipline Info #}
    {% include 'components/discipline-info.twig' %}

    {# Events #}
    {% include 'events/set-home.twig' %}

    {# Tour Leaders #}
    {% include 'components/tourleaders.twig' %}

    {# Latest Video #}
    {% include 'components/video.twig' %}

    {# Members #}
    {% include 'components/members.twig' %}

    {% endblock %}

