{# Wingfoil Race Class Page #}

{% extends "base.twig" %}
{% block content %}
{% for post in posts %}

<div style="display:none;">Template: {{ _self.getTemplateName() }}</div> 

{% if post.hero_image %}
        <div class="banner-header banner-blog" style="background-image:url('{{TimberImage(post.hero_image).src}}')">
{% else %}            
        <div class="banner-header banner-header-none banner-blog">
{% endif %}
    <div class="container">
        <div class="banner-content">
            <h2 class="page-title">
                {{post.post_title}}
            </h2>

            <div class="breadcrumbs">
                {# <h2>page.twig</h2> #}
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                    <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a href="{{site.url}}/" rel="v:url" property="v:title">Home</a>                                                      
                        
                            <span rel="v:child" typeof="v:Breadcrumb">
                                {# {{tx}} Tour #}
                                {{post.name}}
                            </span>
                            </span>
                        </span>
                    </span>
                </nav>
               </div> 

   {#             <div class="breadcrumbs">
                   {{ breadcrumbs }}
               </div> #}
            </div>
        </div>
    </div>
        {% if post.hero_image_caption %}
            <div class="hero-caption">
                {{post.hero_image_caption}}
            </div>
        {% endif %}     
</div>



<div class="main-container">
    <div class="container">
        <div class="col-sm-12 col-md-12 main-content">
            <div class="blog-single">
                <article class="blog-item style6">
                    
                    {{post.content}}
                    

                </article>

                    {% if post.get_field('world_tours_teasers') %}
                    {# World Tours Teaser
                    #}
                        {% for section in post.get_field('world_tours_teasers') %}

                           {# {% if section.download_component_title %} #}
                            <article class="blog-item row">
                                <div class="col-sm-4">
                                    <div class="post-format">
                                        <figure>
                                            <img src="{{TimberImage(section.tour_teaser_image).src}}" alt=""> 
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="blog-title">{{section.tour_teaser_title}}</h4>

                                    {# {% for item in section.download_component_resource %} #}
                                        <article class="blog-item row">
                                            <div class="col-sm-12">
                                            <div class="content-post" style="border:0px solid red; overflow:visible;">
                                            {{section.tour_teaser_copy}}
                                        
                                                <a class="button readmore-button" href="{{site.url}}/world-tour/{{section.tour_teaser_type}}/">Read More</a>
                                            </div>
                                            </div>
                                        </article>                                  
                                    {# {% endfor %} #}

                                </div>
                            </article>
                            {# {% endif %} #}
                        {% endfor %} 
                    {% endif %} 

{% if post.get_field('download_component') or TimberTerm(post.events_type).name or TimberTerm(post.events_type).name %}
                        <div class="related-posts">
                        <h2 class="related-posts-title">
                            Further information
                        </h2>
                            <div class="list-related-posts">

                            {# Rulebook
                            #}
                            {% for section in post.get_field('download_component') %}

                               {% if section.download_component_title %}
                                <article class="blog-item row">
                                    <div class="col-sm-4">
                                        <div class="post-format">
                                            <figure>
                                                <img src="{{TimberImage(section.download_component_image).src}}" alt=""> 
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 class="blog-title">{{section.download_component_title}}</h4>

                                        {% for item in section.download_component_resource %}
                                            <article class="blog-item row">
                                                <div class="col-sm-12">
                                                <div class="content-post" style="border:0px solid red; overflow:visible;">
                                                {{item.download_component_resource_text}}
                                            
                                                    <a class="button readmore-button" href="{{item.download_component_resource.url}}">Download</a>
                                                </div>
                                                </div>
                                            </article>                                  
                                        {% endfor %}

                                    </div>
                                </article>
                                {% endif %}
                            {% endfor %}                            



{#                             <pre>
                                {{dump(post)}}
                            </pre> #}
                            {# Riders teaser
                            #}
                            {% if TimberTerm(post.events_type).name %}
                            <article class="blog-item row">
                                <div class="col-sm-4">
                                    <div class="post-format">
                                        <figure><img src="{{ TimberImage(post.riders_teaser_image).src}}" alt=""></figure>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="blog-title">{{post.get_the_field('riders_teaser_type')}}
                                        <a href="{{ TimberTerm(post.riders_teaser_type).link }}">{{TimberTerm(post.riders_teaser_type).name}}</a></h4>
                                    <div class="content-post">
                                        {{post.riders_teaser_copy}}              
                                    </div>
                                    <a class="button readmore-button" href="{{ TimberTerm(post.riders_teaser_type).link }}">READ MORE</a>
                                </div>
                            </article>
                            {% endif %}

                            {# Events teaser
                            #}
                            {% if TimberTerm(post.events_type).name %}
                            <article class="blog-item row">
                                <div class="col-sm-4">
                                    <div class="post-format">
                                        <figure><img src="{{ TimberImage(post.events_teaser_image).src}}" alt=""></figure>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="blog-title"><a href="{{ TimberTerm(post.events_type).link }}">{{TimberTerm(post.events_type).name}}</a></h4>
                                    <div class="content-post">
                                        {{post.events_teaser_copy}}              
                                    </div>
                                    <a class="button readmore-button" href="{{ TimberTerm(post.events_type).link }}">READ MORE</a>
                                </div>
                            </article>
                            {% endif %}

                            {# {% endfor %} #}
                        </div>
                    </div>
                {% endif %}

                    

            </div>
        </div>      
        
        {# 
		<div class="col-sm-4 col-md-3 sidebar blog-slidebar">
            {% if post.slug == 'strapless-world-tour' or post.slug == 'big-air-world-tour' or post.slug == 'freestyle-world-tour' %}
            <aside class="sidebar row-margin-bottom">
                <img src="{{TimberImage(post.get_field('tour_logo')).src}}" />
            </aside>
            <div class="button-full-width row-margin-bottom">
            	<a href="https://www.gkakiteworldtour.com/">Go to gkaworldtour.com &rarr;</a>
            </div>
            {% endif %}  
            
            {% if post.slug == 'kite-park-league' %}
            <aside class="sidebar row-margin-bottom">
                <img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
            </aside>
            <div class="button-full-width row-margin-bottom">
            	<a href="https://kiteparkleague.com/">Go to kiteparkleague.com &rarr;</a>
            </div>
            {% endif %}  
            
            {% if post.slug == 'racing-world-tour' %}
            <aside class="sidebar row-margin-bottom">
                <img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
            </aside>
            <div class="button-full-width row-margin-bottom">
            	<a href="http://internationalkiteboarding.org">Go to internationalkiteboarding.org &rarr;</a>
            </div>
            {% endif %}           
                        
            <aside class="sidebar" style="border:0px solid red;">
                {{sidebar}}
            </aside>
        </div>
		#}
    </div>
</div>   

{% endfor %}    
{% endblock %}
