{# Standard Page #}

{% extends "base.twig" %}
{% block content %}
{% for post in posts %}

{% if post.hero_image %}
        <div class="banner-header banner-blog" style="background-image:url('{{TimberImage(post.hero_image).src}}')">
{% else %}            
        <div class="banner-header banner-header-none banner-blog">
{% endif %}
    <div class="container">
        <div class="banner-content">
            <h2 class="page-title">
                {{post.post_title}}
            </h2>

            <div class="breadcrumbs">
                {# <h2>page.twig</h2> #}
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                    <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a href="{{site.url}}/" rel="v:url" property="v:title">Home</a>                                                      

                            <span rel="v:child" typeof="v:Breadcrumb">
                                {# {{tx}} Tour #}
                                {{post.name}}
                            </span>
                            </span>
                        </span>
                    </span>
                </nav>
               </div> 

   {#             <div class="breadcrumbs">
                   {{ breadcrumbs }}
               </div> #}
            </div>
        </div>
    </div>
        {% if post.hero_image_caption %}
            <div class="hero-caption">
                {{post.hero_image_caption}}
            </div>
        {% endif %}     
</div>

    <div class="main-container">    

        <div class="container">
        	<div class="row">        		
	            <div class="column small-12 main-content">
	                <div class="blog-single">
	                    <article class="blog-item style6">
	                    	{{post.content}}
	                    </article>
	                </div>
	            </div>
			</div>
		</div>

		<div class="container">
			<div class="row">
	        	{% for post in directory %}
	        		{% if post.is_a_member %}
	        		<div class="column small-6 medium-3 col-grid-item">
	                    <a href="{{post.company_homepage_link}}" class="hover-format" target="_blank">
	                        <img alt="Image for {{ post.title }}" style="width:100%; height:auto;" src="{{TimberImage(post.get_field('company_logo')).src}}">
	                    </a>
                        {# {{TimberImage(post.get_field('company_logo')).src}} #}
	                </div>
	                {% endif %}
	        	{% endfor %}
	        </div>
		</div>	
	
    </div>				      


{% endfor %}    
{% endblock %}

