{# Single Page #}

{% extends "base.twig" %}
{% block content %}
    
    {% for post in posts %}

<div style="display:none;">Template: {{ _self.getTemplateName() }}</div>

{% if post.hero_image %}
        <div class="banner-header banner-blog" style="background-image:url('{{TimberImage(post.hero_image).src}}')">
{% else %}            
        <div class="banner-header banner-header-none banner-blog">
{% endif %}
        <div class="container">
           <div class="banner-content">
               <h2 class="page-title">
                {{post.title}}
            </h2>
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a href="{{site.url}}/" rel="v:url" property="v:title">Home</a>                              
                                <span typeof="v:Breadcrumb">


                                    {% if post.type == 'riders' or post.type == 'events' %}
                                    <a href="{{site.url}}/world-tours/" rel="v:url" property="v:title">World Tours <!-- {{post.type.labels.singular_name}} --></a>
                                    <span typeof="v:Breadcrumb">
                                        <a href="{{site.url}}/world-tours/{{postTermsSlug}}" rel="v:url" property="v:title">{{postTermsName}}</a>
                                        <span typeof="v:Breadcrumb">
                                            <a href="{{site.url}}/{{post.type.rewrite.slug}}s/{{postTermsSlug}}" rel="v:url" property="v:title">{{post.type.labels.singular_name}}</a>
                                            <span typeof="v:Breadcrumb">
                                    {% elseif post.type == 'post' %}
                                        <a href="{{site.url}}/news/" rel="v:url" property="v:title">{{post.type.labels.singular_name}}</a>                                                    
                                    {% else %}
                                            <a href="{{site.url}}/{{post.type.rewrite.slug}}/" rel="v:url" property="v:title">{{post.type.labels.singular_name}}</a>                                                    
                                    {% endif %}


    
                                                {{post.post_title}}
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </nav>
               </div>   
           </div>
       </div>
        {% if post.hero_image_caption %}
            <div class="hero-caption">
                {{post.hero_image_caption}}
            </div>
        {% endif %}        
   </div>

       <div class="main-container">
        <div class="container">
            <div class="col-sm-8 col-md-9 main-content">
                <div class="blog-single">
                    <article class="blog-item style6">


                        {% if post.type == 'riders' %}

                            
{{post.content}}
                            
                        <div class="post-content-columns">
                            {# ACF - Riders
                            #}
                            {% if post.rider_age %}
                                <div class="row">
                                    <div class="col-sm-4"> Age:</div>
                                    <div class="col-sm-8">{{post.rider_age}}</div>
                                </div>
                            {% endif %}

                            {% if post.nationality %}
                                <div class="row">
                                    <div class="col-sm-4"> Nationality:</div>
                                    <div class="col-sm-8">{{post.nationality}}</div>
                                </div>
                            {% endif %}

                            {% if post.sponsors %}
                                <div class="row">
                                    <div class="col-sm-4"> Sponsors:</div>
                                    <div class="col-sm-8">{{post.sponsors}}</div>
                                </div>
                            {% endif %}           


                            {% if post.home_spot %}
                                <div class="row">
                                    <div class="col-sm-4"> Home spot:</div>
                                    <div class="col-sm-8">{{post.home_spot}}</div>
                                </div>
                            {% endif %}

                            {% if post.years_riding %}
                                <div class="row">
                                    <div class="col-sm-4"> Years riding:</div>
                                    <div class="col-sm-8">{{post.years_riding}}</div>
                                </div>
                            {% endif %}

                            {% if post.years_competing %}
                                <div class="row">
                                    <div class="col-sm-4"> Years competing:</div>
                                    <div class="col-sm-8">{{post.years_competing}}</div>
                                </div>
                            {% endif %}

                            {% if post.best_results %}
                                <div class="row">
                                    <div class="col-sm-4"> Best results:</div>
                                    <div class="col-sm-8">{{post.best_results}}</div>
                                </div>
                            {% endif %}

                            {% if post.specialist_discipline %}
                                <div class="row">
                                    <div class="col-sm-4"> Specialist discipline:</div>
                                    <div class="col-sm-8">{{post.specialist_discipline}}</div>
                                </div>
                            {% endif %}

                            {% if post.favourite_wave_spot %}
                                <div class="row">
                                    {# <div class="col-sm-4"> Favourite wave spot:</div> #}
                                    <div class="col-sm-4"> Favourite spot:</div>
                                    <div class="col-sm-8">{{post.favourite_wave_spot}}</div>
                                </div>
                            {% endif %}  

                            {% if post.favourite_strapless_freestyle_trick %}
                                <div class="row">
                                    {# <div class="col-sm-4"> Favourite strapless freestyle trick:</div> #}
                                    <div class="col-sm-4"> Favourite trick:</div>
                                    <div class="col-sm-8">{{post.favourite_strapless_freestyle_trick}}</div>
                                </div>
                            {% endif %}

                            {% if post.favourite_thing_about_competing_on_tour %}
                                <div class="row">
                                    <div class="col-sm-4"> Favourite thing about competing on tour?:</div>
                                    <div class="col-sm-8">{{post.favourite_thing_about_competing_on_tour}}</div>
                                </div>
                            {% endif %}

                            {% if post.standout_moment_2017 %}
                                <div class="row">
                                    <div class="col-sm-4"> Standout moment 2017:</div>
                                    <div class="col-sm-8">{{post.standout_moment_2017}}</div>
                                </div>
                            {% endif %}

                            {% if post.favourite_competitors_to_ride_against_and_watch %}
                                <div class="row">
                                    <div class="col-sm-4"> Favourite competitors to ride against and watch:</div>
                                    <div class="col-sm-8">{{post.favourite_competitors_to_ride_against_and_watch}}</div>
                                </div>
                            {% endif %}

                            {% if post.goals_2018 %}
                                <div class="row">
                                    <div class="col-sm-4">2018 goals:</div>
                                    <div class="col-sm-8">{{post.goals_2018}}</div>
                                </div>
                            {% endif %}

                            {% if post.if_you_weren’t_competing_on_tour_what_would_you_be_doing_instead %}
                                <div class="row">
                                    <div class="col-sm-4">If you weren’t competing on tour, what would you be doing instead?:</div>
                                    <div class="col-sm-8">{{post.if_you_weren’t_competing_on_tour_what_would_you_be_doing_instead}}</div>
                                </div>
                            {% endif %}

                            {% if post.how_do_you_train %}
                                <div class="row">
                                    <div class="col-sm-4">How do you train?:</div>
                                    <div class="col-sm-8">{{post.how_do_you_train}}</div>
                                </div>
                            {% endif %}

                            {% if post.media_content %}
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">{{post.media_content|apply_filters('the_content')}}</div>
                                </div>
                            {% endif %}
                        </div>

                        {% elseif post.type == 'events' %}
                        {# ACF - Events
                        #}

                            <div class="row">
                                <div class="col-sm-12">
                                {{post.content}}
                                </div>
                            </div>

                        <div class="post-content-columns">
                            {% if post.show_event_table == 'show' %}
                                <div class="row">
                                    {# <div class="col-sm-2"></div> #}
                                    <div class="col-sm-12">


{# <pre>
    {{dump(total_points_list)}}
</pre> #}


                                        <h4>Event Results - Men</h4>
                                        {# Race results
                                        #}
                                        <table border="1" width="100%">
                                            <tr>
                                                <th style="padding:5px;">Position</th>
                                                <th style="padding:5px;">Contestant</th>
                                                <th style="padding:5px;">Sponsors</th>
                                                <th style="padding:5px;">Points</th>
                                            </tr>
                                            {% for race_row in post.get_field('race_row') %}

                                                {% set contestant = race_row.contestant %}
                                                {% set contestant_name = race_row.contestant.post_title %}
                                                {% set contestant_rider_age = race_row.contestant.rider_age %}
                                                {% set contestant_listed = race_row.listed %}
                                                {% set contestant_ID = race_row.contestant.id %}
                                                {% set contestant_points = race_row.points %}
                                                {% set contestant_sponsors = race_row.sponsor %}
                                                {% set contestant_position = race_row.position %}


                                                <tr>

                                                    <td style="padding:5px;">
                                                        {{contestant_position}}
                                                        {# ({{ loop.index }}) #}
{#                                                            {% set tp = x.total_points %} 
                                                            {% for key, stp in sort_points %}
                                                                {% if stp == tp %}
                                                                    {{ key + 1 }}
                                                                {% endif %}
                                                            {% endfor %} #}
                                                    </td>

                                                    <td style="padding:5px;">
                                                        {# {% if contestant_sponsors.company_homepage_link %} #}
                                                        {% if contestant_rider_age %}
                                                            <a href="{{ TimberPost(contestant_ID).link }}">{{contestant_name}}</a></td>
                                                        {% else %}
                                                            {{contestant_name}}
                                                        {% endif %}
                                                    </td>
                                                    <td style="padding:5px;">
                                                        {% if contestant_sponsors.company_homepage_link %}
                                                        <a href="{{ contestant_sponsors.company_homepage_link }}">
                                                        {% endif %}
                                                        {% for sponsor in contestant_sponsors %}
                                                            {% if sponsor.company_homepage_link %}
                                                                <a href="{{sponsor.company_homepage_link}}">{{sponsor.post_title}}</a>
                                                            {% else %}
                                                                {{sponsor.post_title}}
                                                            {% endif %}
                                                            {% if not loop.last %},{% endif %}
                                                        {% endfor %}
{#                                                         <pre>
                                                            {{dump(sponsor)}}
                                                        </pre> #}
                                                        {% if contestant_sponsors.company_homepage_link %}
                                                        </a>
                                                    {% endif %}

                                                    </td>
                                                    <td style="padding:5px;">{{contestant_points}}</td>
                                                </tr>

                                            {% endfor %}            
                                        </table><br>


                                        <h4>Event Results - Women</h4>
                                        {# Race results
                                        #}
                                        <table border="1" width="100%">
                                            <tr>
                                                <th style="padding:5px;">Position</th>
                                                <th style="padding:5px;">Contestant</th>
                                                <th style="padding:5px;">Sponsors</th>
                                                <th style="padding:5px;">Points</th>
                                            </tr>
                                            {% for race_row in post.get_field('race_row_women') %}

                                                {% set contestant = race_row.contestant_women %}
                                                {% set contestant_name = race_row.contestant_woman.post_title %}
                                                {% set contestant_rider_age = race_row.contestant_woman.rider_age %}
                                                {% set contestant_listed = race_row.listed %}                                                    
                                                {% set contestant_ID = race_row.contestant_woman.id %}
                                                {% set contestant_points = race_row.points %}
                                                {% set contestant_sponsors = race_row.sponsor %}
                                                {% set contestant_position = race_row.position %}

                                                <tr>
                                                    <td style="padding:5px;">{{contestant_position}}</td>
                                                    <td style="padding:5px;">

                                                        {% if contestant_rider_age %}
                                                            <a href="{{ TimberPost(contestant_ID).link }}">{{contestant_name}}</a></td>
                                                        {% else %}
                                                            {{contestant_name}}
                                                        {% endif %}
                                                        


                                                    <td style="padding:5px;">
                                                        {% if contestant_sponsors.company_homepage_link %}
                                                        <a href="{{ contestant_sponsors.company_homepage_link }}">
                                                        {% endif %}
                                                        {% for sponsor in contestant_sponsors %}
                                                            {% if sponsor.company_homepage_link %}
                                                                <a href="{{sponsor.company_homepage_link}}">{{sponsor.post_title}}</a>
                                                            {% else %}
                                                                {{sponsor.post_title}}
                                                            {% endif %}
                                                            {% if not loop.last %},{% endif %}
                                                        {% endfor %}
                                                        {% if contestant_sponsors.company_homepage_link %}
                                                        </a>
                                                    {% endif %}

                                                    </td>
                                                    <td style="padding:5px;">{{contestant_points}}</td>
                                                </tr>

                                            {% endfor %}            
                                        </table>


                                    </div>
                                </div>
                                
                            {% endif %}                

                            {% if post.spot %}
                                <div class="row">
                                    <div class="col-sm-2">Spot</div>
                                    <div class="col-sm-10"> {{post.spot}}</div>
                                </div>
                            {% endif %}

                            {% if post.country.address %}
                                <div class="row">
                                    <div class="col-sm-2">Location</div>
                                    <div class="col-sm-10"> {{post.country.address}}</div>
                                </div>
                            {% endif %}

                            {% if post.wind_widget %}
                                <div class="row">
                                    <div class="col-sm-2">Wind forecast</div>
                                    <div class="col-sm-10"> {{post.wind_widget}}</div>
                                </div>
                            {% endif %}

                            {% if post.country.lng %}
                                <div class="row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        {% set map_lat = post.country.lat %}
                                        {% set map_lng = post.country.lng %}
                                        <div class="acf-map">
                                            <div class="marker" data-lat="{{map_lat}}" data-lng="{{map_lng}}"></div>
                                        </div>  
                                    </div>                                  
                                </div>
                            {% endif %}                            

                            {% if post.contest_dates %}
                                <div class="row">
                                    <div class="col-sm-2">Contest dates</div>
                                    <div class="col-sm-10"> {{post.contest_dates}}</div>
                                </div>
                            {% endif %}

                            {% if post.event_host_sponsor %}
                                <div class="row">
                                    <div class="col-sm-2">Host/sponsor</div>
                                    <div class="col-sm-10"> {{post.event_host_sponsor|apply_filters('the_content')}}</div>
                                </div>
                            {% endif %}

                            {% if post.prevailing_winds %}
                                <div class="row">
                                    <div class="col-sm-2">Prevailing winds</div>
                                    <div class="col-sm-10"> {{post.prevailing_winds}}</div>
                                </div>
                            {% endif %}
                            
                            {% if post.water_conditions %}
                                <div class="row">
                                    <div class="col-sm-2">Water conditions</div>
                                    <div class="col-sm-10"> {{post.water_conditions}}</div>
                                </div>
                            {% endif %}

                            {% if post.competition_history %}
                                <div class="row">
                                    <div class="col-sm-2">Competition history</div>
                                    <div class="col-sm-10"> {{post.competition_history}}</div>
                                </div>
                            {% endif %}   


                            {% if post.previous_winners %}
                                <div class="row">
                                    <div class="col-sm-2">Previous winners</div>
                                    <div class="col-sm-10"> {{post.previous_winners|apply_filters('the_content')}}</div>
                                </div>
                            {% endif %}
                        </div>







                    {% if post.get_field('download_component') %}
                        <div class="col-sm-12 related-posts">
                        <h2 class="related-posts-title">
                            Further information
                        </h2>
                            <div class="list-related-posts">

                            {# Rulebook
                            #}
                            {% for section in post.get_field('download_component') %}

                               {% if section.download_component_title %}
                                <article class="blog-item row">
                                    <div class="col-sm-4">
                                        <div class="post-format">
                                            <figure>
                                                <img src="{{TimberImage(section.download_component_image).src}}" alt=""> 
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <h4 class="blog-title">{{section.download_component_title}}</h4>

                                        {% for item in section.download_component_resource %}
                                            <article class="blog-item row">
                                                <div class="col-sm-12">
                                                <div class="content-post" style="border:0px solid red; overflow:visible;">
                                                {{item.download_component_resource_text}}
                                            
                                                    <a class="button readmore-button" href="{{item.download_component_resource.url}}">Download</a>
                                                </div>
                                                </div>
                                            </article>                                  
                                        {% endfor %}

                                    </div>
                                </article>
                                {% endif %}
                            {% endfor %}                            

                            {# {% endfor %} #}
                        </div>
                    </div>
                {% endif %}




                        {% else %}

                            {{post.content}}

                        {% endif %}

                    </article>      

                    {# Related posts
                    #}
                    <div class="col-sm-12 related-posts">
                        <h2 class="related-posts-title">Related posts
                            
{#                             {% for term in post.terms %}
                                {{term}}
                            {% endfor %}  
                            {{post_taxonomy}} #}

                        </h2>
                        <div class="list-related-posts">

                            {% for post in related_posts %}    
                            <article class="blog-item row">
                                <div class="col-sm-4">
                                    <div class="post-format">
                                        <figure><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="blog-title"><a href="{{post.link}}">{{post.title}}</a></h4>
                                    <div class="content-post">
                                        {{post.post_excerpt}}              
                                    </div>
                                    <a class="button readmore-button" href="{{post.link}}">READ MORE</a>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-3 sidebar blog-slidebar">
                <aside class="sidebar">
                    {{sidebar}}
                </aside>
            </div>        

        </div>
   </div>   

{% endfor %}	
{% endblock %}