{# Single Page #}

{% extends "base.twig" %}
{% block content %}
    
    {% for post in posts %}

<div style="display:none;">Template: {{ _self.getTemplateName() }}</div>

        <div class="banner-header banner-blog" style="background-image:url('https://www.globalwingsportsassociation.org/images/Wingfoil-Schools-banner.jpg')">

        <div class="container">
           <div class="banner-content">
               <h2 class="page-title">
                {{post.title}}
            </h2>
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a href="{{site.url}}/" rel="v:url" property="v:title">Home</a>                              
                                <span typeof="v:Breadcrumb">

                                            <a href="{{site.url}}/{{post.type.rewrite.slug}}/" rel="v:url" property="v:title">{{post.type.labels.singular_name}}</a>   


    
                                                {{post.post_title}}
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </nav>
               </div>   
           </div>
       </div>
        {% if post.hero_image_caption %}
            <div class="hero-caption">
                {{post.hero_image_caption}}
            </div>
        {% endif %}        
   </div>

       <div class="main-container">
        <div class="container">
            <div class="col-sm-8 col-md-9 main-content">
                <div class="blog-single">
                    <article class="blog-item style6">


                        {% if post.type == 'wingfoil-schools' %}
                            
                        <div class="post-content-columns">
						
							
                                <div class="row">
                                    <div class="col-sm-3"><img src="{{post.thumbnail.src|resize(500, 500)}}"/></div>
                                    <div class="col-sm-9"><p><b>{{post.title}}</b></p><p><i>{{ post.spot|capitalize }}, {{ post.country|capitalize }}</i></p>{{post.content}}</div>
                                </div>
							
                            {# ACF - Riders
                            #}
							
                            {% if post.rental %}
                                <div class="row">
                                    <div class="col-sm-3"> Rental:</div>
                                    <div class="col-sm-9">{{ post.rental|capitalize }}</div>
                                </div>
                            {% endif %}

                            {% if post.date %}
                                <div class="row">
                                    <div class="col-sm-3"> GWA Approved Since:</div>
                                    <div class="col-sm-9">{{ post.date('Y') }}</div>
                                </div>
                            {% endif %}

                            {% if post.contact %}
                                <div class="row">
                                    <div class="col-sm-3"> Contact:</div>
                                    <div class="col-sm-9"><a href="mailto:{{ post.contact|capitalize }}" target="_blank">{{ post.contact }}</a></div>
                                </div>
                            {% endif %}

                            {% if post.website %}
                                <div class="row">
                                    <div class="col-sm-3"> Website:</div>
                                    <div class="col-sm-9"><a href="{{ post.website|capitalize }}" target="_blank">Click here</a></div>
                                </div>
                            {% endif %}
							
							
                        </div>                      



                        {% else %}

                            {{post.content}}

                        {% endif %}

                    </article>      

                    {# Related posts
                    #}
					{#
                    <div class="col-sm-12 related-posts">
                        <h2 class="related-posts-title">Related posts

                        </h2>
                        <div class="list-related-posts">

                            {% for post in related_posts %}    
                            <article class="blog-item row">
                                <div class="col-sm-4">
                                    <div class="post-format">
                                        <figure><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="blog-title"><a href="{{post.link}}">{{post.title}}</a></h4>
                                    <div class="content-post">
                                        {{post.post_excerpt}}              
                                    </div>
                                    <a class="button readmore-button" href="{{post.link}}">READ MORE</a>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>#}

                </div>
            </div>
            <div class="col-sm-4 col-md-3 sidebar blog-slidebar">
                <aside class="sidebar">
                    {{sidebar}}
                </aside>
            </div>        

        </div>
   </div>   

{% endfor %}	
{% endblock %}