{# Event Single Page #}

<div style="display:none;">Template: {{ _self.getTemplateName() }}</div>

<div class="single-event">
    <div class="main-container">

        <div class="keyvisual-small" style="background-image:url('{{ post.thumbnail.src }}');">
            <div class="content">
                <h1>{{ post.spot }}, {{ post.country }}</h1>
            </div>
            <div class="overlay"></div>
        </div>

        <div class="content-wrapper">
            <div class="row">

                {# Sidebar (fixed) #}
                <div class="sidebar event-details">
                    <div class="category {{ post.discipline }}">{{ post.discipline|capitalize }}</div>
                    <div class="date">
                        <p class="intro">{{ post.contest_dates|capitalize }}</p>
                    </div>
                    <div class="status">
                        <p><b>Status</b></p>
                        <p>{{ event_status|capitalize|replace({'-': ' '}) }}</p>
                    </div>

                    {# Event Links #}
                    {% if event_status != "upcoming" %}

                        <div class="quick-menu">
                            <h3>Quick menu</h3>
                            <ul>
                                {% if post.live_stream_template %}
                                    <li><a href="#live-stream">Livestream</a></li> {% endif %}
                                {% if post.live_ticker %}
                                    <li><a href="#liveticker">Liveticker</a></li> {% endif %}
                                {% if post.scoring_template and event_status != "finished" %}
                                    <li><a href="#live-scoring">Scoring</a></li> {% endif %}
                                {% if post.elimination_template %}
                                    <li><a href="#eliminations">Eliminations</a></li> {% endif %}
                                {% if post.event_gallery %}
                                    <li><a href="{{ post.event_gallery }}" target="_blank">Gallery</a></li> {% endif %}
                                {% if post.event_videos %}
                                    <li><a href="{{ post.event_videos }}" target="_blank">Videos</a></li> {% endif %}
                                {% if post.event_entrants %}
                                    <li><a href="{{ post.event_entrants }}">Registered riders</a></li> {% endif %}
                                {% if post.event_results %}
                                    <li><a href="{{ post.event_results }}" target="_blank">Results</a></li> {% endif %}
                                <li><a href="#instafeed">Instafeed</a></li>
                                <li><a href="#event-story">Event story</a></li>
                                <li><a href="#event-info">Event info</a></li>
                            </ul>
                        </div>

                        {# Advertisement #}
                        {# <div class="quick-menu"> #}
                        {# <p></p> #}
                        {# {{ function('do_shortcode', '[adrotate group="2"]') }} #}
                        {# </div> #}

                    {% else %}

                        <div class="quick-menu">
                            <h3>Quick menu</h3>
                            <ul>
                                {% if post.registered_riders_men and post.registered_riders_women %}
                                    <li><a href="#registered_riders">Registered riders</a></li>
                                {% endif %}
                                <li><a href="#instafeed">Instafeed</a></li>
                                <li><a href="#event-story">Event story</a></li>
                                <li><a href="#event-info">Event info</a></li>
                            </ul>
                        </div>

                    {% endif %}

                </div>

                {# Left column #}
                <div class="column small-12 large-8">

                    {# Advertisement Top #}
                    {% if post.scoring_template and event_status != "upcoming" %}

                        <div class="event-block advertisement">

                            <div class="row">
                                <div class="column small-12">
                                    {{ function('do_shortcode', '[adrotate group="2"]') }}
                                </div>
                            </div>

                        </div>

                    {% endif %}

                    {# Live ticker #}
                    {% if event_status != "upcoming" %}
                        <div id="liveticker" class="live-ticker">

                            <h2>What's happening</h2>

                            {% if post.live_ticker %}

                                <div class="iframe-wrapper">
                                    <iframe src="{{ post.live_ticker }}" style="width:100%; height: 350px;"></iframe>
                                </div>

                            {% endif %}

                        </div>
                    {% endif %}

                    {# Live Stream Archive #}

                    {% if post.live_stream_archive and event_status != "running" and event_status != "on-hold" and event_status != "end-of-the-day" %}

                        <div class="event-block">

                            <div id="live-stream" class="live-stream">
                                <h2>Livestream Archive</h2>
                                {{ live_stream_archive|shortcodes }}
                            </div>

                        </div>

                    {% endif %}

                    {# Live Stream Archive #}

                    {% if post.live_stream_template and event_status == "running" and event_status != "on-hold" and event_status != "end-of-the-day" %}

                        <div class="event-block">

                            <div id="live-stream" class="live-stream">
                                <h2>Livestream</h2>
                                <div class="video-wrapper">
                                    <iframe width="100%" height="100%" src="{{ post.live_stream_template }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>

                    {% endif %}

                    {# Live scoring #}
                    {% if post.scoring_template and event_status != "upcoming" and event_status != "on-hold" and event_status != "end-of-the-day" and event_status != "finished" %}

                        <div class="event-block">
                            <div id="live-scoring">

                                {% if post.live_stream_template == "" %}

                                    <h2>Live Scoring</h2>

                                {% endif %}

                                <div class="iframe-wrapper">
                                    <iframe src="{{ post.scoring_template }}" style="width:100%;border:0;height:260px;"></iframe>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {# Advertisement Bottom #}
                    {% if post.scoring_template and event_status != "upcoming" and event_status != "on-hold" and event_status != "end-of-the-day" and event_status != "finished" %}

                        <div class="event-block advertisement">

                            <div class="row">
                                <div class="column small-12 medium-10 medium-offset-1">
                                    {{ function('do_shortcode', '[adrotate group="3"]') }}
                                </div>
                            </div>

                        </div>

                    {% endif %}

                    {# Live elimination #}
                    {% if post.elimination_template and event_status != "upcoming" %}

                        <div class="event-block">

                            <div id="eliminations">
                                <h2>Elimination Ladders</h2>
                                <div class="iframe-wrapper">
                                    <iframe src="{{ post.elimination_template }}" style="width:100%;height:350px;zoom:2;"></iframe>
                                </div>
                            </div>

                        </div>

                    {% endif %}

                    {# Video / Photo of the day #}
                    {% if event_status != "upcoming" %}

                        <div class="event-block">
                            <div class="row">

                                {% if post.photo_of_the_day and post.video_of_the_day %}

                                    <div class="column small-12 large-6 large-order-1">
                                        <h2>Photo of the day</h2>
                                    </div>

                                    <div class="column small-12 large-6 large-order-3">
                                        <div class="photo-of-the-day" style="background-image: url('{{ post.photo_of_the_day | resize(1280 , 720) }}')">
                                            <img src="{{ post.photo_of_the_day | resize(1280 , 720) }}"/>
                                        </div>
                                    </div>

                                    <div class="column small-12 large-6 large-order-2">
                                        <h2>Video of the day</h2>
                                    </div>

                                    <div class="column small-12 large-6 large-order-4">
                                        <div class="video video-of-the-day">
                                            <div class="video-wrapper">
                                                <iframe src="{{ post.video_of_the_day }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                            </div>
                                        </div>
                                    </div>

                                {% else %}

                                    {% if post.photo_of_the_day %}

                                        <div class="column small-12">
                                            <div class="photo-of-the-day">
                                                <h2>Photo of the day</h2>
                                                <img src="{{ post.photo_of_the_day | resize(1280 , 720) }}"/>
                                            </div>
                                        </div>

                                    {% endif %}
                                    {% if post.video_of_the_day %}

                                        <div class="column small-12">
                                            <div class="video video-of-the-day">
                                                <h2>Video of the day</h2>
                                                <div class="video-wrapper">
                                                    <iframe src="{{ post.video_of_the_day }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                                </div>
                                            </div>
                                        </div>

                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>

                    {% endif %}

                    {# Social Media #}
                    {% if event_status != "upcoming" %}

                        <div class="event-block">

                            <div id="instafeed" class="instafeed">
                                <h2>Instafeed</h2>
                                {{ function('do_shortcode', '[instagram-feed cols=3 num=6 showheader=false imagepadding=0]') }}
                            </div>

                        </div>

                    {% endif %}

                    {# Intro #}
                    <div id="event-story" class="event-block">

                        <h2>{{ post.title }}</h2>
                        <div class="text">

                            {{ post.content }}

                        </div>
                    </div>

                    {% if post.registered_riders_men and post.registered_riders_women %}

                        {# Registered riders #}
                        <div id="registered_riders" class="event-block">
                            <div class="row">

                                <h2>Registered riders</h2>

                                <div class="column small-6 large-order-1">
                                    <h3>Men</h3>
                                </div>

                                <div class="column small-6 large-order-1">
                                    <h3>Women</h3>
                                </div>


                                {# Men #}

                                <div class="column small-6 xlarge-6 large-order-1">

                                    {% for riderID in post.registered_riders_men %}

                                        {% if riderID != 0 %}

                                            {% set rider = fn("get_post",riderID) %}

                                            <p>
                                                <a href="{{ function('get_permalink', riderID) }}"><img src="{{ site.url }}/wp-content/uploads/flags-mini/{{ rider.country|lower }}.png"/>
                                                    <span>{{ rider.post_title }}</span>
                                                </a>
                                            </p>

                                        {% endif %}

                                    {% endfor %}

                                </div>

                                {# Women #}

                                <div class="column small-6 xlarge-6 large-order-1">

                                    {% for riderID in post.registered_riders_women %}

                                        {% if riderID != 0 %}

                                            {% set rider = fn("get_post",riderID) %}

                                            <p>
                                                <a href="{{ function('get_permalink', riderID) }}"><img src="{{ site.url }}/wp-content/uploads/flags-mini/{{ rider.country|lower }}.png"/>
                                                    <span>{{ rider.post_title }}</span>
                                                </a>
                                            </p>

                                        {% endif %}

                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    {% endif %}

                    {# Event info #}
                    <div id="event-info" class="event-block info">

                        <h2>Event Info</h2>

                        {% if post.confirmed %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Confirmed</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.confirmed|capitalize }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.contest_dates %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Contest dates</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.contest_dates }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.discipline %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Discipline</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.discipline|capitalize }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.country %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Country</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.country }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.spot %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Spot</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.spot }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.stars %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Stars</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.stars }} stars</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.prize_money %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Prizemoney</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.prize_money }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.livestream %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Livestream</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.livestream|capitalize }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.international_tv_coverage %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>International TV Coverage</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.international_tv_coverage|capitalize }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.wind_widget %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Wind forecast</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.wind_widget }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.country.lng %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"></div>
                                    <div class="column small-12 medium-6">
                                        {% set map_lat = post.country.lat %}
                                        {% set map_lng = post.country.lng %}
                                        <div class="acf-map">
                                            <div class="marker" data-lat="{{ map_lat }}" data-lng="{{ map_lng }}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.event_host_sponsor %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Host/sponsor</b></p></div>
                                    <div class="column small-12 medium-6">{{ post.event_host_sponsor|apply_filters('the_content') }}</div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.prevailing_winds %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Prevailing winds</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.prevailing_winds }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.water_conditions %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Water conditions</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.water_conditions }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.competition_history %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Competition history</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.competition_history }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.registered_riders %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Registered riders</b></p></div>
                                    <div class="column small-12 medium-6"><p><a href="{{ post.registered_riders }}" target="_blank">Registered riders</a></p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.rulebook %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Rulebook</b></p></div>
                                    <div class="column small-12 medium-6"><p><a href="{{ post.rulebook }}" target="_blank">Download Rulebook</a></p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.race_notice %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Race Notice</b></p></div>
                                    <div class="column small-12 medium-6"><p><a href="{{ post.race_notice }}" target="_blank">Download Race Notice</a></p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.registration_dates %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Registration Dates</b></p></div>
                                    <div class="column small-12 medium-6"><p>{{ post.registration_dates }}</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.registration_form == "Closed" and post.confirmed == "Yes" %}
                            <div class="item">
                                <div class="row register">
                                    <div class="column small-12 medium-4"><p><b>Registration Form</b></p></div>
                                    <div class="column small-12 medium-6"><p>Registration is closed. For questions please contact the Tour Manager Tom Hartmann at tom@global-kitesports.org</p></div>
                                </div>
                            </div>
                        {% elseif post.registration_form and post.confirmed == "Yes" %}
                            <div class="item">
                                <div class="row register">
                                    <div class="column small-12 medium-4"><p><b>Registration Form</b></p></div>
                                    <div class="column small-12 medium-6"><p><a href="{{ post.registration_form }}" target="_blank">Click here to register</a></p></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Registration Form</b></p></div>
                                    <div class="column small-12 medium-6"><p>Registration is not open yet</p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.event_website %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Event Website</b></p></div>
                                    <div class="column small-12 medium-6"><p><a href="{{ post.event_website }}" target="_blank">Visit the event website</a></p></div>
                                </div>
                            </div>
                        {% endif %}

                        {% if post.event_video %}
                            <div class="item">
                                <div class="row">
                                    <div class="column small-12 medium-4"><p><b>Event Video</b></p></div>
                                    <div class="column small-12 medium-6"><p>
                                        <div class="video-wrapper">{{ post.event_video }}</div>
                                        </p></div>
                                </div>
                            </div>
                        {% endif %}

                        {# TODO: add Google Maps #}
                        {#<p>Location: {{ post.location }}</p>#}

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>