{# Flexible content logic #}
{% block content %}
{% for post in posts %}
{# flexi content blocks #}
<h1>{{post.title}}</h1>
{% for content_block in post.get_field('global_content_blocks') %}
{% if content_block.acf_fc_layout == 'content_full_width_content' %}
{% include 'content-types/cont-full-width-content.twig' %}
{% elseif content_block.acf_fc_layout == 'content_profiles' %}
{% include 'content-types/cont-profiles.twig' %}
{% elseif content_block.acf_fc_layout == 'content_homepage_slider' %}
{% include 'content-types/cont-homepage-slider.twig' %}
{% elseif content_block.acf_fc_layout == 'content_design_process' %}
{% include 'content-types/cont-design-process.twig' %}
{% elseif content_block.acf_fc_layout == 'content_splits' %}
{% include 'content-types/cont-split.twig' %}
{% endif %}
{% endfor %}
{% endfor %}
<div class="terms-group">
    <ul class="our-work-cat-list list-inline _list-unstyled list-inline">
        {% for cat in categories %}
        <li id="{{cat.id}}" data-posttype="ourworkpost"><a class="tax-filter" title="{{cat.slug}}" href="{{cat.link}}">{{cat.name}}</a></li>
        {% endfor %}
    </ul>
    {# <a href="" class="view-all-cat">VIEW ALL</a> #}
    <div data-posttype="ourworkpost"><a class="view-all-cat tax-filter active" title="" href="">VIEW ALL</a></div>
</div>
<div class="content-fluid terms-group-archives">
    <div class="row">
        <div class="our-work-group" style="border:0px solid red;">
            <div class="tagged-posts" style="border:0px solid green;">
                {% for post in ourworkpost %}
                <div class="our-work-thumb-group col-md-4">
                    <a href="{{post.link}}"/><img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}"/></a>
                    <a href="{{post.link}}"/><h2>{{post.title}}</h2></a>
                    <h4 class="our-work-location">{{post.content_our_work_location}}</h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}