{# Flexible content logic #}

{% block content %}
	{% for post in posts %}

{# flexi content blocks SINGLE!! :) #}

		<h1>{{post.title}}</h1>
		
		{% for content_block in post.get_field('global_content_blocks') %}

			{% if content_block.acf_fc_layout == 'content_full_width_content' %}
				{% include 'content-types/cont-full-width-content.twig' %}
			{% elseif content_block.acf_fc_layout == 'content_profiles' %}
				{% include 'content-types/cont-profiles.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_homepage_slider' %}
				{% include 'content-types/cont-homepage-slider.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_design_process' %}				
				{% include 'content-types/cont-design-process.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_splits' %}				
				{% include 'content-types/cont-split.twig' %}								
{# 			{% elseif content_block.acf_fc_layout == 'content_our_work_location' %}
				{% include 'content-types/cont-our-work-location.twig' %}	 #}						
			{% endif %}	

		{% endfor %}		

		
		{# Related Posts #}
		{# https://stackoverflow.com/questions/42570245/timber-twig-show-posts-associated-with-category #}
		{% for term in post.terms('category') %}
			{% set posttype = post.post_type %}

		    <h3>Related Posts in '{{ term.name }}' in '{{ posttype }}</h3>

		    <ul>
		        {% for child_post in term.posts() %}
				{% if child_post.post_type == 'ourworkpost' %}
		        <li><a href="{{ child_post.link }}">{{ child_post.title }}</li>
		    {% endif %}


		        {% endfor %}
		    </ul>
		{% endfor %}

	{% endfor %}

{% endblock %}



{# 	<div class="content-fluid">
		<div class="row">
			<div class="our-work-group">

			{% for post in ourworkpost %}

				{% for content_block in post.get_field('global_content_blocks') %}
					{% if content_block.acf_fc_layout == 'content_our_work_location' %}
						{% include 'content-types/cont-our-work-location.twig' %}							
					{% endif %}
				{% endfor %}


				<div class="our-work-thumb-group col-md-4">
					<a href="{{post.link}}"/><img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" style="width:100%;"/></a>
					<a href="{{post.link}}"/><h3>{{post.title}}</h3></a>
					<a href="{{post.link}}"/><h3>{{post.location}}</h3></a>
					
				</div>


			{% endfor %}	

			</div>
		</div>
	</div> #}