{# Flexible content logic #}

{% block content %}
	{% for post in posts %}

{# flexi content blocks SINGLE!! :) #}

		<h1>{{post.title}}</h1>
		<p class="our-work-location">{{post.content_our_work_location}}</p>
		
		{% for content_block in post.get_field('global_content_blocks') %}

			{% if content_block.acf_fc_layout == 'content_full_width_content' %}
				{% include 'content-types/cont-full-width-content.twig' %}
			{% elseif content_block.acf_fc_layout == 'content_profiles' %}
				{% include 'content-types/cont-profiles.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_homepage_slider' %}
				{% include 'content-types/cont-homepage-slider.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_design_process' %}				
				{% include 'content-types/cont-design-process.twig' %}				
			{% elseif content_block.acf_fc_layout == 'content_splits' %}				
				{% include 'content-types/cont-split.twig' %}												
			{% endif %}	

		{% endfor %}		

	{% endfor %}

{% endblock %}

