{# Flexible content logic #}

{% block content %}

			<section>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 {{post.heading_background_colour}}">
							<h1>Our Work</h1>
						</div>
					</div>
				</div>
			</section>

<div class="section" style="_display:none;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="terms-group">
					<ul class="our-work-cat-list list-inline _list-unstyled list-inline">
						{% for cat in categories %}
							<li id="{{cat.id}}" data-posttype="ourworkpost">
								<a class="tax-filter" title="{{cat.slug}}" href="{{cat.link}}">{{cat.name}}</a>
							</li>
						{% endfor %}
					</ul>
					<div data-posttype="ourworkpost"><a class="view-all-cat tax-filter active" title="" href="">VIEW ALL</a></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="container-fluid terms-group-archives">
		<div class="row">
			<div class="col-md-12">
				<div class="our-work-group">
					<div class="tagged-posts">
						
						{% for post in ourworkpost %}
							<div class="our-work-thumb-group col-md-3 col-sm-4">
								<div class="our-work-thumb">
									<div class="our-work-thumb-overlay-group">
										<a href="{{post.link}}"/>
										<div class="our-work-thumb-overlay-link-group">
											<div class="our-work-thumb-overlay-link">
												<span class="content-link" style="border-color:#9e7456;color:#9e7456;">view project</span>
											</div>
										</div>
										</a>
									</div>
									<img src="{{ post.thumbnail.src }}" class="my-thumb-class" alt="Image for {{ post.title }}" />
								</div>
								<a href="{{post.link}}"/><h2>{{post.title}}</h2></a><h4 class="our-work-location">{{post.content_our_work_location}}</h4>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
