.events {

    padding: rem(99 10 0);
    position: relative;

    @include breakpoint(medium) {

        padding: rem(120 20 0);

    }

    .home & {

        padding: rem(0 20);

        @include breakpoint(medium) {

            padding: rem(0 40);

        }

    } 

    h3 {

        @extend %catamaran-regular;

        color: $grey;
        display: none;
        margin-bottom: rem(24);

        @include breakpoint(medium) {

            display: block;

        }

    }

    .filter {

        margin: rem(24 0 32);
        text-align: left;

        @include breakpoint(medium) {

            margin: rem(4 0 32);

        }

        @include breakpoint(large) {

            text-align: right;

        }

        .select-wrapper {

            display: inline-block;
            float: none;
            margin: rem(0 16 8 0);
            width: 100%;

            @include breakpoint(medium) {

                width: auto;

            }

            @include breakpoint(large) {

                float: left;
                margin: rem(0 16 8 0);

            }

        }

    }

    .event-item {

        @include transition();

        border-top: 1px solid $light-grey;
        padding: rem(24 0);
        position: relative;
        margin: rem(0 10);

        @include breakpoint(medium) {

            margin: rem(0 20);

        }

        .category-wrapper {

            height: auto;
            position: relative;

            @include breakpoint(medium) {

                height: 100%;

            }

            .category {

                font-size: rem(14);
                left: 50%;
                line-height: rem(14);
                margin: rem(0 0 0 -4);
                padding: rem(0 0 12 0);
                position: absolute;
                text-align: right;
                top: 0;
                transform: rotate(-90deg) translate(-100%, -50%);
                transform-origin: top left;
                width: rem(76);

                @include breakpoint(medium) {

                    text-align: left;
                    top: 50%;
                    transform: rotate(-90deg) translate(-50%, -50%);

                }

            }

        }

        h2 {

            line-height: rem(30);
            padding-right: rem(24);

            @include breakpoint(medium) {

                padding: 0;

            }

        }

        .status,
        .winners {

            height: 100%;
            position: relative;

            p {

                @extend %opensans-italic;

                font-size: rem(16);
                line-height: rem(24);
                margin-bottom: 0;

                @include breakpoint(medium) {

                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);

                }

            }

        }

        .date {

            p {

                @extend %opensans-italic;

                font-size: rem(16);
                line-height: rem(24);
                margin-bottom: rem(8);

                @include breakpoint(medium) {

                    margin-bottom: 0;

                }

            }

        }

        .status {

            margin-bottom: rem(8);

            @include breakpoint(medium) {

                margin-bottom: 0;

            }

        }

        .winners {

            .title {

                @extend %catamaran-regular;

                color: $grey;
                margin-bottom: rem(4);

                @include breakpoint(medium) {

                    display: none;

                }

            }

            .male,
            .female {

                padding: rem(0 0 0 24);
                position: relative;
                top: auto;
                transform: none;

                &:before {

                    @extend %icons;

                    color: $grey;
                    left: 0;
                    position: absolute;
                    top: 0;

                }

            }

            .male {

                margin: rem(2 0 6);

                &:before {

                    content: map_get($icons, 'male');
                    font-size: rem(18);

                }

            }

            .female {

                &:before {

                    content: map_get($icons, 'female');
                    font-size: rem(22);

                }

            }

        }

        .external-link {

            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(medium) {

                right: rem(32);

            }

            i {

                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);

            }

        }

        .link-overlay {

            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

        }

        &:hover {

            @include breakpoint(medium) {

                background: $beige;

            }

        }

    }

    .link {

        display: block;
        margin-top: rem(24);
        text-align: center;

        &.show-all {

            float: none;
            margin-left: 0;
            margin-top: rem(8);

            @include breakpoint(medium) {

                text-align: left;

            }

        }

    }

    .white-overlay {

        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.50) 0%, #FFFFFF 69%);
        bottom: rem(40);
        height: rem(120);
        left: 0;
        position: absolute;
        width: 100%;

    }

    .icon-list {

        margin-top: rem(24);
        display: flex;
        flex-wrap: wrap;

        .title {

            text-transform: uppercase;
            color: $grey;
            margin-bottom: rem(8);

        }

        .item {

            margin: rem(0 32 16 0);

        }

        .stars {

            width: rem(92);

        }

    }

}