{% for post in posts %}


	<div class="banner-header banner-blog" style="background-image:url('{{TimberImage(post.hero_image).src}}')">
	    <div class="container">
	        <div class="banner-content">
	            <h2 class="page-title">{{post.post_title}}</h2>
	            <span class="page-desc">Tell your story x</span>
	            <div class="breadcrumbs">
	                <a href="#">Home</a>
	                <span>Blog style5</span>
	            </div>
	        </div>
	    </div>
	</div>
                         

    <div class="main-container">
        <div class="container">

    	{% if post.type == 'eventspost' %}

            <p><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></p>

            <table border="1">
            <tr>
            <th style="padding:5px;">Position</th>
            <th style="padding:5px;">Contestant</th>
            <th style="padding:5px;">Sponsors</th>
            <th style="padding:5px;">Points</th>
            </tr>
            {% for race_row in post.get_field('race_row') %}

            {% set contestant = race_row.contestant %}
            {% set contestant_name = race_row.contestant.post_title %}
            {% set contestant_id = race_row.contestant_id %}
            {% set contestant_points = race_row.points %}
            {% set contestant_sponsors = race_row.sponser %}

            <tr>
            <td style="padding:5px;">{{ loop.index }}</td>
            <td style="padding:5px;"><a href="{{ TimberPost(x.contestant_id).link }}">{{contestant.contestant_name}}</a></td>
            <td style="padding:5px;">{{contestant_sponsors}}</td>
            <td style="padding:5px;">{{contestant_points}}</td>
            </tr>

            {% endfor %}            
            </table>

		{% elseif post.type == 'riderspost' %}


            <p><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></p>

            {{post.content}}

        {% else %}
            test
        {% endif %}
{# 
        </div>
    </div> #}   

{% endfor %}