{#  Set background image via WP Options
#}

{# {% set postname = post.get_post_type.labels.name %}       #}
{% set bgd_img = hero_image.url %}
{% set bgd_img_caption = hero_image_caption  %}
{% set post_type = '' %}
{% for post in posts %}
    {% set post_type = post.type %}
{% endfor %}
{# <pre>
    term slug: {{dump(term_slug)}}
</pre> #}
{# <pre>
    {{dump(term_tax)}}
</pre>

<pre>
    {{dump(post_type.slug)}}
</pre> #}
{# <pre>
    post slug: {{dump(post_slug)}}
</pre>
<pre>
    new slug: {{dump(new_term_slug)}}
</pre> #}

<div term_slug="{{term_slug}}" new_term_slug="{{new_term_slug}}"  hero_image="{{hero_image}}" class="banner-header banner-blog" style="background-image:url('{{bgd_img}}');">        
    <div class="container">
        <div class="banner-content">
            <h2 class="page-title">
                
                {# <p>loop-taxonomy.twg</p> #}
                {{term.name}} {{post_type}}

            </h2>
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                    <span xmlns:v="http://rdf.data-vocabulary.org/#">
                        <span typeof="v:Breadcrumb">
                            <a href="{{site.url}}" rel="v:url" property="v:title">Home</a>  
                            <span typeof="v:Breadcrumb">
                                {# {% if %} #}
                                <a href="{{site.url}}/disciplines/" rel="v:url" property="v:title">World Tours</a>                              
                                <span rel="v:child" typeof="v:Breadcrumb">
                                    <a href="{{site.url}}/disciplines/{{term.slug}}/" rel="v:url" property="v:title">{{term.name}}</a>
                                    {{post_type}}
                                </span>
                            </span>
                        </span>
                    </span>
                </nav>
            </div>            
        </div>
    </div>
    {% if hero_image_caption %}
        <div class="hero-caption">
            {{hero_image_caption}}
        </div>
    {% endif %}
</div>

<div class="main-container">
    <div class="container">

        {# <div id="_blog-masonry" class="_blog-masonry" data-cols="3"> #}
        <div class="row">
            {% for post in posts %}
                {% if post.show_hide_from_listsings != 'hide' %}
                <article class="blog-item style5 _blog-item-masonry col-sm-4" style="">
                    <div class="post-format">
                        <figure><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                        <a href="{{post.link}}" class="hover-format">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                    </div>
                    <h4 class="blog-title"><a href="{{post.link}}">{{post.title}}</a></h4>

                    <div class="content-post">
                        <p>{{post.post_excerpt}}</p>
                    </div>

                    <a class="button readmore-button" href="{{post.link}}">READ MORE</a>
                </article>
                {% endif %}    
            {% endfor %}
        </div>
        {# </div> #}


