{#  Set background image via WP Options
#}
     
{% set bgd_img = hero_image.url %}
{% set bgd_img_caption = hero_image_caption  %}
{% if get_queried_object.labels.name %}
    {# If CPT #}
    {% set title = get_queried_object.labels.name %}
{% else %}
    {# If default post object #}
    {% set title = get_queried_object.name %}
{% endif %}
{# <pre>
    {{dump(get_post_type_object)}}
</pre> #}
    <div class="banner-header banner-blog" style="background-image:url('https://www.globalwingsportsassociation.org/wp-content/uploads/2020/08/Action-shots-Echo-2020_92-Header.jpg')">        
    <div class="container">
        <div class="banner-content">
            <h2 class="page-title">    
                {{title}}
            </h2>
                <div class="breadcrumbs">
                   <nav id="breadcrumbs" class="main-breadcrumbs">
                        <span xmlns:v="http://rdf.data-vocabulary.org/#">
                            <span typeof="v:Breadcrumb">
                                <a href="{{site.url}}" rel="v:url" property="v:title">Home</a>  
                                <span rel="v:child" typeof="v:Breadcrumb">
                                    {{title}}
                                </span>
                            </span>
                        </span>
                    </nav>
               </div>
        </div>
    </div>
    {% if hero_image_caption %}
        <div class="hero-caption">
            {{hero_image_caption}}
        </div>
    {% endif %}    
</div>

<div class="main-container">
    <div class="container">

        {# <div id="_blog-masonry" class="_blog-masonry" data-cols="3"> #}
        	{% for post in posts %}
                <article class="col-md-6 col-lg-4 blog-item style5 _blog-item-masonry" style="">
                    <div class="_blog-item">
                    <div class="post-format">
                        <figure><img alt="Image for {{ post.title }}" src="{{ post.thumbnail.src }}"></figure>
                        <a href="{{post.link}}" class="hover-format">
                            <span><i class="fa fa-search"></i></span>
                        </a>
                    </div>
                    <h4 class="blog-title"><a href="{{post.link}}">{{post.title}}</a></h4>
{#                     <div class="meta-post">
                        {{ post.terms('category') | join(', ') }}
                    </div> #}
                    <div class="content-post">
                        <p>{{post.post_excerpt}}</p>
                    </div>
                    <a class="button readmore-button" href="{{post.link}}">READ MORE</a>
                    </div>
                </article>
        	{% endfor %}
        {# </div> #}


