<div class="event-item">
    <div class="row">
        <div class="column small-1">
            <div class="category-wrapper">
                <div class="category {{ post.terms('beach-access-type')[0].slug }}">{{ post.terms('beach-access-type')[0] }}</div>
            </div>
        </div>
        <div class="column small-11 medium-5">

            <h2>{{ post.post_title }}</h2>

            {% if post_excerpt %}

                <div class="date">{{ post_excerpt }}</div>

            {% endif %}

        </div>
        <div class="column small-11 small-offset-1 medium-2 medium-offset-0">

            {% if post.meta('status') %}

                <div class="status"><p>{{ post.meta('status')|capitalize|replace({'-': ' '}) }}</p></div>

            {% endif %}

        </div>
        <div class="column small-11 small-offset-1 medium-3 medium-offset-0">

			<div class="winners">
				<p class="title">Organisation</p>
				<p>{{ post.organisation }}</p>
			</div>

        </div>
		
        <div class="column small-11 small-offset-1">
            <div class="icon-list">

                <div class="external-link"><i class="fa fa-external-link"></i></div>

            </div>
        </div>
    </div>
    <a class="link-overlay" href="{{ post.link }}"></a>
</div>
