<div class="block events">
    <div class="row">
        <div class="column medium-5 medium-offset-1">
            <h3>When & where</h3>
        </div>
        <div class="column medium-2">
            <h3>Status</h3>
        </div>
        <div class="column medium-3">
            <h3>Winners</h3>
        </div>
    </div>

    {% for post in events %}
        {% include 'events/item.twig' %}
    {% endfor %}

    {% for post in events_finished %}
        {% include 'events/item.twig' %}
    {% endfor %}

    <div class="white-overlay"></div>

    <div class="row">
        <div class="column small-12 medium-12">
            <a href="/events/" class="link big with-icon"><span>View all events</span></a>
        </div>
    </div>
</div>