<div class="main-container">
	<div class="events">

		<div class="row">
			<div class="column small-12">
				<h1>Beach Access Cases</h1>
			</div>                
			<div class="column small-12">
				<div class="filter">
					<div class="select-wrapper">
						<select id="changeCountry">
							<option>Country</option>
							<option name="Germany">Germany</option>
							<option name="Ireland">Ireland</option>
							<option name="Spain">Spain</option>
						</select>
					</div>

					<div class="select-wrapper">
						<select id="changeType">
							<option>Type</option>
							<option name="conservation">Conservation</option>
							<option name="safety-general">Safety (General)</option>
							<option name="safety-airports">Safety (Airports)</option>
						</select>
					</div>

					<a href="/beach-access/" class="link show-all">Show All</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column medium-5 medium-offset-1">
				<h3>Case & Region</h3>
			</div>
			<div class="column medium-2">
				<h3>Status</h3>
			</div>
			<div class="column medium-3">
				<h3>Contact</h3>
			</div>
		</div>

		{% if beach_access %}
			{% for post in beach_access %}
				{% include 'beach-access/item.twig' %}
			{% endfor %}
		{% else %}

			<div class="small-12"><p>No events have been found with the selected filters.</p></div>

		{% endif %}

	</div>
</div>